*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    background-image: url(./img/img_telaInicial.png);
    background-size: cover;          /* Faz a imagem cobrir a tela toda */
    background-position: center;     /* Centraliza a imagem */
    background-repeat: no-repeat;    /* Impede que a imagem se repita */
    background-attachment: fixed;    /* Deixa o fundo fixo ao rolar */
    color: rgb(186, 186, 186);
}

.container{
    position: relative;
}

.btn-jogar {
    top: 625px;
    left: 1300px;
}

.btn-como {
    top: 690px;
    left: 1300px;
}

.btn-sobre {
    top: 755px;
    left: 1300px;
} 

/* ESTILO DOS BOTÕES */
button {
    position: absolute;
    padding: 15px 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: #ff4da6;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff66b3;
    transform: scale(1.05);
}  